[submodule "Vendor/sdl2"]
	path = Vendor/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/googletest"]
	path = Vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "Vendor/glad"]
	path = Vendor/glad
	url = https://github.com/premake-libs/glad.git
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
